/*General*/

.opt6A.opt-singlerecentlyviewed .swiper-button-disabled {
	display: none;
}

.opt6A .optWrap {
    width: 100%;
    padding: 20px 35px;
    position: relative;
    margin-bottom: 35px;
    border: 1px solid #efefef;
    border-left: 0;
    border-right: 0;
}

.opt6A .optWrap .optHead {
    text-align: center;
    font-size: 19px;
    font-family: futura-pt, helvetica, arial;
    font-weight: bolder;
}

@media (max-width: 475px) {
    .opt6A .optWrap {
        padding: 0 20px;
        margin-bottom: 45px;
    }
    
    .opt6A .optWrap .optHead {
        text-align: center;
        font-size: 18px;
        font-family: futura-pt, helvetica, arial;
        font-weight: bolder;
    }
   
}

/*General End*/

/*Slider*/
.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}


.opt6A.v1 .optWrap .optPictures {
    width: 70%;   
    text-align: center;
    display: inline-block;
}

.opt6A.v1 .optWrap .optPictures img {
    width: 20%;
    margin: 0 1%;
    display: inline;
}

.opt6A.v1 .optWrap .optItemInfo {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.opt6A.v1 .optWrap .optItemInfo h2 {
    font-size: 18px;
    margin: 0;
}

.opt6A.v1 .optWrap .optItemInfo h2.infoPrice {
    margin: 4px 0;
}

.opt6A.v1 .optWrap .optItemInfo h2.infoPrice .infoSlash {
    text-decoration: line-through;
}

.opt6A.v1 .optWrap .optItemInfo h2.infoPrice .infoSale{
    margin-left: 5px;
    color: #F70006;
}

.opt6A.v1 .optWrap .optItemInfo p.infoAfter {
    font-family: "proxima-nova", helvetica, arial;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000;
}


.opt6A.v1 .optWrap .optItemInfo p.infoAfter var {
    font-weight: bolder;
    font-style: normal;
}

.opt6A.v1 .optWrap .optItemInfo p.infoAfter span img {
    width: 60px;
    height: auto;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 2px;
}

.opt6A.v1 .optWrap .swiper-slide {
    width: 100%;
    vertical-align: middle;
}

.opt6A.v1 .swiper-button-next, .opt6A.v1 .swiper-button-prev {
    top: calc(50% + 25px);
}

.swiper-button-next, .swiper-button-prev {
    background-image: url(//cdn.optimizely.com/img/6092490016/d8cc8701b0d34b30a27a80c6c7310faf.png) !important;
    background-size: 12px 23px !important;
    width: 25px;
    height: 30px;
}

.swiper-button-next {
  -webkit-transform: scaleX(-1);
  -khtml-transform: scaleX(-1);
  transform: scaleX(-1);
}

.opt6A.v1 .optWrap .infoBtn > div {
    font-family: "proxima-nova", helvetica, arial;
    width: 140px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    background-color: #000000;
    color: white;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .swiper-container {
        margin-top: 20px;
    }
    
    .opt6A.v1 .optWrap .optPictures img:nth-child(2), .opt6A.v1 .optWrap .optPictures img:nth-child(3) {
        display: none;
    }
    
    .opt6A.v1 .optWrap .optPictures img {
        width: 40%;
        margin: 0 4%;
    }
    
    .opt6A.v1 .optWrap .optPictures {
        display: block;    
        margin: auto;
    }
    
    .opt6A.v1 .optWrap .optItemInfo {
        width: 80%;   
        display: block;    
        margin: auto;
        margin-top: 25px;
        text-align: center;
    }
    
    .opt6A.v1 .optWrap .infoBtn > div {
        margin: auto;   
    }
}


@media (max-width: 475px) {
    
    .opt6A.v1 .optWrap .optPictures {
        width: 100%;      
    }
    
    .opt6A.v1 .optWrap .optItemInfo {
        width: 100%;      
    }
    
    .opt6A.v1 .optWrap .optItemInfo h2 {
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
    }

    .opt6A.v1 .optWrap .optItemInfo p.infoAfter {
        font-size: 11px;
    }

    .opt6A.v1 .optWrap .optItemInfo p.infoAfter span img {
        margin-left: 1px;
        margin-bottom: 2px;
    }
    
    
    .opt6A.v1 .swiper-button-next, .opt6A.v1 .swiper-button-prev {
        width: 35px;
        height: 20px;
        top: calc(50% + 25px);
    }
    
    .opt6A.v1 .swiper-button-next {
        right: -5px;   
    }
    
    .opt6A.v1 .swiper-button-prev {
        left: -5px;   
    }
}

/*Slider End*/



