/*General*/

.opt6A.opt-singlerecentlyviewed .swiper-button-disabled {
	display: none;
}

.opt6A .optWrap {
    width: 100%;
    position: relative;
    margin-bottom: 45px;
    vertical-align: middle;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.opt6A .optWrap .optHead {
    text-align: left;
    margin: auto;
    padding-left: 25px;
    font-size: 44px;
    font-family: futura-pt, helvetica, arial;
    font-weight: bolder;
    display: inline-block;
    width: 35%;
    vertical-align: middle;
}

@media (max-width: 1199px) { 
    .opt6A .optWrap {
        padding-top: 20px;   
    }
    
    .opt6A.v2 .optWrap .optPictures img {
        padding: 0 20px
    }
}

@media (max-width: 991px) { 
    .opt6A .optWrap {
        margin-bottom: 55px;    
    }
    
    .opt6A .optWrap .optHead {
        font-size: 30px;
    }
}


@media (max-width: 767px) {   
    .opt6A .optWrap {
        padding-top: 25px;  
        margin-bottom: 25px;
    }
    
    .opt6A .optWrap .optHead {
        display: block;
        text-align: center;
        font-size: 24px;
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 475px) {
    .opt6A .optWrap {
        padding: 25px 20px 20px 20px;
    }
    
    .opt6A .optWrap .optHead {
        text-align: center;
        font-size: 20px;
        font-family: futura-pt, helvetica, arial;
        font-weight: bolder;
    }
   
}

/*General End*/

/*Slider*/
.swiper-container {
    width: calc(60% - 50px);
    vertical-align: middle;
    display: inline-block;
}


.opt6A.v2 .optWrap .optPictures {
    width: 50%;   
    text-align: center;
    display: inline-block;
}

.opt6A.v2 .optWrap .optPictures img {
    width: 100%;
    padding: 0 40px;
    display: inline-block;
}

.opt6A.v2 .optWrap .optItemInfo {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.opt6A.v2 .optWrap .optItemInfo h2 {
    font-size: 18px;
    margin: 0;
}

.opt6A.v2 .optWrap .optItemInfo h2.infoPrice {
    margin: 4px 0;
}

.opt6A.v2 .optWrap .optItemInfo h2.infoPrice .infoSlash {
    text-decoration: line-through;
}

.opt6A.v2 .optWrap .optItemInfo h2.infoPrice .infoSale{
    margin-left: 5px;
    color: #F70006;
}

.opt6A.v2 .optWrap .optItemInfo p.infoAfter {
    font-family: "proxima-nova", helvetica, arial;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000;
}


.opt6A.v2 .optWrap .optItemInfo p.infoAfter var {
    font-weight: bolder;
    font-style: normal;
}

.opt6A.v2 .optWrap .optItemInfo p.infoAfter span img {
    width: 60px;
    height: auto;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 2px;
}

.opt6A.v2 .optWrap .swiper-slide {
    width: 100%;
    vertical-align: middle;
}

.opt6A.v2 .swiper-button-next, .opt6A.v2 .swiper-button-prev {
    top: 50%;
}

.opt6A.v2 .swiper-button-prev {
    left: calc(35% + 17px);   
}

.swiper-button-next, .swiper-button-prev {
    background-image: url(//cdn.optimizely.com/img/6092490016/d8cc8701b0d34b30a27a80c6c7310faf.png) !important;
    background-size: 12px 23px !important;
    width: 25px;
    height: 30px;
}

.swiper-button-next {
  -webkit-transform: scaleX(-1);
  -khtml-transform: scaleX(-1);
  transform: scaleX(-1);
}

.opt6A.v2 .optWrap .infoBtn > div {
    font-family: "proxima-nova", helvetica, arial;
    width: 140px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    background-color: #000000;
    color: white;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    font-weight: bold;
}

@media (max-width: 1199px) {
    .opt6A.v2 .swiper-button-next, .opt6A.v2 .swiper-button-prev {
        top: 50%
    }
}


@media (max-width: 991px) { 
    .swiper-container {
        margin-left: 48px;
    }

    .opt6A.v2 .optWrap .optItemInfo h2 {
        font-size: 18px;
        margin: 0;
    }
    
    .opt6A.v2 .optWrap .optPictures img {
        padding-left: 5px;
        padding-right:10px;
    }
}

@media (max-width: 767px) {
    .swiper-container {
        margin-top: 20px;
        width: 100%;
        margin-left: 0;
    }
    
      .opt6A.v2 .optWrap .optPictures {
        width: 100%;      
    }
    
    .opt6A.v2 .optWrap .optItemInfo {
        width: 100%;      
    }
    
    .opt6A.v2 .optWrap .optPictures img:nth-child(2), .opt6A.v2 .optWrap .optPictures img:nth-child(3) {
        display: none;
    }
    
    .opt6A.v2 .optWrap .optPictures img {
        width: 80%;
        margin: 0 4%;
    }
    
    .opt6A.v2 .optWrap .optPictures {
        display: block;    
        margin: auto;
    }
    
    .opt6A.v2 .optWrap .optItemInfo {
        width: 80%;   
        display: block;    
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }
    
    .opt6A.v2 .optWrap .infoBtn > div {
        margin: auto;   
    }
    
    .opt6A.v2 .swiper-button-prev {
        left: 10px;   
    }
}


@media (max-width: 475px) {
    
    .opt6A.v2 .optWrap .optPictures {
        width: 100%;      
    }
    
    .opt6A.v2 .optWrap .optItemInfo {
        width: 100%;      
    }
    
    .opt6A.v2 .optWrap .optItemInfo h2 {
        font-size: 18px;
        margin: 0;
    }

    .opt6A.v2 .optWrap .optItemInfo p.infoAfter {
        font-size: 11px;
    }

    .opt6A.v2 .optWrap .optItemInfo p.infoAfter span img {
        margin-left: 1px;
        margin-bottom: 2px;
    }
    
    
    .opt6A.v2 .swiper-button-next, .opt6A.v2 .swiper-button-prev {
        width: 35px;
        height: 20px;
        top: 50%;
    }
    
    .opt6A.v2 .swiper-button-next {
        right: -5px;   
    }
    
    .opt6A.v2 .swiper-button-prev {
        left: -5px;   
    }
}

/*Slider End*/