.test82v1 .navbar .container {
    background: transparent !important;
}
.test82v1 .navbar .navbar-header {
    background: #111;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
}
.test82v1 .navbar .navbar-header .row {
    width: 100%;
}
.test82v1 .navbar nav.navbar-collapse {
    width: 100%;
}
.test82v1 .navbar .nav-primary {
    background: #111;
    width: 80%;
    padding: 12px 30px;
}
.test82v1 .navbar nav.navbar-cowllapse ul li {
    margin: 0 33px;
}
.test82v1  .navbar nav.navbar-collapse ul li a {
    padding: 20px 20px;
    color: #fff;
    font-weight: 600;
}
.test82v1 .navbar-primary .navbar-nav .sale-category>a {
    color:red;
}
.test82v1 .navbar nav.navbar-collapse ul li.sale-category a .glyphicon {
    color:red;
}
.test82v1 .navbar nav.navbar-collapse ul li a .glyphicon {
    color: #fff;
}
.test82v1 .navbar-primary .navbar-nav > li > a {
    border-bottom: 1px solid #fff;
}
.test82v1 .navbar nav.navbar-collapse ul > li:last-child > a {
    border-bottom: 0px;
}
.test82v1 .nav-separator {
    display:none;
}