.test82v1 .navbar .container {
    background: transparent !important;
    ;
}
.test82v1 .navbar .navbar-header {
    background: #111;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
}
.test82v1 .navbar .navbar-header .row {
    width: 100%;
}
.test82v1 .navbar nav.navbar-collapse ul li {
    margin: 0 33px;
}
.test82v1 .navbar nav.navbar-collapse ul li a {
    padding: 20px 20px;
    color: #fff;
    font-weight: 500;
}
.test82v1 .navbar nav.navbar-collapse ul li > a .glyphicon {
    color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.test82v1 .navbar nav.navbar-collapse ul li.open a .glyphicon {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.test82v1 .navbar nav.navbar-collapse ul li.secondary-item > a .glyphicon {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.test82v1 .navbar nav.navbar-collapse ul li ul {
    padding-top: 15px;
}
.test82v1 .navbar nav.navbar-collapse ul li ul li {
    margin: 0;
}
.test82v1 .navbar nav.navbar-collapse ul li ul li a {
    border: none !important;
    font-size: 16px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
}

.test82v1 .navbar .container {
    background: transparent !important;
    ;
}
.test82v1 .navbar .navbar-header {
    background: #111;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
}
.test82v1 .navbar .navbar-header .row {
    width: 100%;
}
.test82v1 .navbar nav.navbar-collapse {
    width: 100%;
}
.test82v1 .navbar .nav-primary {
    background: #111;
    width: 80%;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}
.test82v1 .opt-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.test82v1 .secondary-item .secondary-item {
    display:none;
}
.test82v1 .navbar nav.navbar-cowllapse ul li {
    margin: 0 33px;
}
.test82v1 .navbar nav.navbar-collapse ul li a {
    padding: 20px 20px;
    color: #fff;
    font-weight: 600;
}
.test82v1 .navbar-primary .navbar-nav .sale-category > a {
    color: red;
}
.test82v1 .navbar nav.navbar-collapse ul li.sale-category > a .glyphicon {
    color: red;
}
.test82v1 .navbar nav.navbar-collapse ul li a .glyphicon {
    color: #fff;
}
.test82v1 .navbar-primary .navbar-nav > li > a {
    border-bottom: 1px solid #fff;
}
.test82v1 #navbar-item-brands > a {
    border-bottom: 0px;
}
.test82v1 .nav-separator {
    display: none;
}
.test82v1 ul.nav-primary.megahover.nav.navbar-nav.navbar-left > li:last-child {
    display: none;
}
.test82v1 .dropdown.open {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.test82v1 .dropdown.open > a.dropdown-toggle {
    border: none !important;
}
.test82v1 .navbar nav.navbar-collapse ul li ul {
    padding-top: 0px;
}
.test82v1 .navbar-inverse .navbar-nav > .open > a {
    padding-bottom: 15px !important;
}
