<div class="optContainer">
    <a class="optSale" href="/sale">Sale</a>
    <div class="optSearch">
        <input class="optSearchIn" placeholder="Search"></input>
        <div class="optIcon"><i class="fa fa-search" aria-hidden="true"></i></div>
    </div>
</div>