.opt1 .optContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.opt1 .optSale {
    background-color: #E73723;
    font-family: "Proxima Nova";
    font-size: 16px;
    color: white;
    margin-left: -10px;
    width: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.opt1 .optSearch {
    width: -webkit-calc(100% - 120px + 20px);
    width: calc(100% - 120px + 20px);
    height: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-between;
    -webkit-align-items: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}
.opt1 .optSearchIn {
    height: 38px;
    width: 100%;
    padding-left: 13px;
}
.opt1 .optIcon {
    min-width: 47px;
    height: 38px;
	background-color: #414141;
    margin-right: -5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #8F8F8F;
}

.opt1 .optSearchIn::-webkit-input-placeholder {
 	font-family: "Proxima Nova";	font-size: 16px;
}

.opt1 .optSearchIn::-moz-placeholder {
 	font-family: "Proxima Nova";	font-size: 16px;
}

.opt1 .optSearchIn:-ms-input-placeholder {
 	font-family: "Proxima Nova";	font-size: 16px;
}

.opt1 .optSearchIn::placeholder {
 	font-family: "Proxima Nova";	font-size: 16px;
}

.opt1 .optIcon .fa {
 	font: normal normal normal 24px/1 FontAwesome;   
}
