.clear {clear:both;}
    .opt2-v3 #carousel-product ul.slides {display:none !important;}
    .opt2-v3 #carousel-product .container .pull-right {display:none !important;}
    .opt2-v3 .col-sm-offset-11, #carousel-product .flex-direction-nav li {margin-left:0;}

    .opt2-v3 #product_addtocart_form>.row .col-sm-10 {float:right;}
    .opt2-v3 #product_addtocart_form>.row .col-md-14 {float:left;}
    
    
    .opt2-v3 .sizing-guide-container .text-center {text-align:left;}
    .opt2-v3 .sizing-guide-container .text-center a:after {display: inline-block; font-weight:bold; font-size:22px; content:"+"; margin-left:6px; position:relative; top:2px;}
    
    .opt2-v3 a.clickcollect-product-page-heading {text-transform:uppercase;}
    .opt2-v3 a.clickcollect-product-page-heading:after {font-size:22px; margin-left:4px; position:relative; top:2px; font-weight:bold; font-family:"proxima-nova", helvetica, arial; content:"+";}
    
    .opt2-v3 a.toggle-description {color:#111 !important; font-size:14px; font-family:"proxima-nova", helvetica, arial; font-weight:700; text-transform:uppercase; display:inline-block; margin:5px 0 3px 0;}
    .opt2-v3 a.toggle-description:after {display: inline-block; font-size: 22px; margin-left:4px; position:relative; top:0; content: "-";}
    .opt2-v3 a.toggle-description.closed:after {content:"+"; top:2px;}
    
    .opt2-v3 .afterpay-installments {padding-bottom:0;}
   
    .opt2-v3 .page-header a {max-width:150px; display:block; margin-bottom:5px;}
    .opt2-v3 .col-md-14.image-padding {height:auto !important; padding-right:40px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
    .opt2-v3 .col-md-14.image-padding img {float:left; width:47.5%; display:block; height:auto; margin:0 5% 20px 0;}
    .opt2-v3 .col-md-14.image-padding img:nth-of-type(2n) {margin-right:0;}
    .opt2-v3 .col-md-14.image-padding img:nth-of-type(2n+1) {clear:left;}
    .opt2-v3 .col-md-14.image-padding:after {content:""; display:table; clear:both;}
   
    .opt2-v3 .header-product h1 {font-size:40px; line-height:40px;}
    
    .opt2-v3 #product-options-wrapper .simple-message {margin-bottom:3px;}
    
    
    
    /***** Media Queries *****/
    @media screen and (max-width: 1200px){
        .opt2-v3 .header-product h1 {font-size:36px; line-height:36px;}    
    }
    
    @media screen and (max-width: 960px){
        .opt2-v3 .header-product h1 {font-size:32px;}
        .opt2-v3 .col-md-14.image-padding {float:left; display:block !important; width:58%;}
    }