.opt2-v1 .breadcrumb {z-index:450;}
    .opt2-v1 #carousel-product .container .pull-right {float:left !important; margin-left:0; margin-top:10px;}
    .opt2-v1 #carousel-product .container .pull-right .col-sm-offset-1 {margin-left:0;}
    .opt2-v1 .col-sm-offset-11, #carousel-product .flex-direction-nav li {margin-left:0;}

    .opt2-v1 #product_addtocart_form>.row .col-sm-10 {float:right;}
    .opt2-v1 #product_addtocart_form>.row .col-md-14 {float:left;}
    
    
    /***** Media Queries *****/
    @media screen and (max-width: 960px){
        .opt2-v1 .header-product h1 {font-size:48px;}
    }