.opt2-v2 #product-options-wrapper {display:none !important;}
    .opt2-v2 .breadcrumb {z-index:450;}
    .opt2-v2 #carousel-product .container .pull-right {float:left !important; margin-left:0; margin-top:10px;}
    .opt2-v2 #carousel-product .container .pull-right .col-sm-offset-1 {margin-left:0;}
    .opt2-v2 .col-sm-offset-11, #carousel-product .flex-direction-nav li {margin-left:0;}

    .opt2-v2 #product_addtocart_form>.row .col-sm-10 {float:right;}
    .opt2-v2 #product_addtocart_form>.row .col-md-14 {float:left;}
    
    
    .opt2-v2 .sizing-guide-container .text-center {text-align:left;}
    .opt2-v2 .sizing-guide-container .text-center a:after {display: inline-block; font-family:FontAwesome; font-weight:normal; font-size:10px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content:"\\f054"; margin-left:6px; position:relative; top:-1px;}
    
    .opt2-v2 a.clickcollect-product-page-heading {text-transform:uppercase;}
    .opt2-v2 a.clickcollect-product-page-heading:after {font-size:10px; margin-left:4px; position:relative; top:-2px;}
    
    .opt2-v2 a.toggle-description {color:#111 !important; font-size:14px; font-family:"proxima-nova", helvetica, arial; font-weight:700; text-transform:uppercase; display:inline-block; margin:5px 0 3px 0;}
    .opt2-v2 a.toggle-description:after {display: inline-block; font-family:FontAwesome; font-size: 10px; margin-left:4px; position:relative; top:-2px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "ï¸";}
    .opt2-v2 a.toggle-description.closed:after {content:"ï·";}
    
    
    .opt2-v2 .afterpay-installments {padding-bottom:12px;}
    
    .opt2-v2 .cart-tools-custom {max-width:341px; border:2px solid #111111; border-radius:3px; background-color:#ffffff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom:16px; position:relative;}
    .opt2-v2 .cart-tools-custom .custom-size-select-button {display:block; position:relative; text-transform:uppercase; color:#131313; font-weight:700; font-size:16px; line-height:20px; padding:8px 0 7px 12px;}
    .opt2-v2 .cart-tools-custom .custom-size-select-button:after {display: inline-block; font-family:FontAwesome; font-size: 10px; margin-left:4px; position:relative; top:-2px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "ï¸"; position:absolute; right:12px; top:50%; margin-top:-12px;}
    .opt2-v2 .cart-tools-custom .custom-size-select-button.closed:after {content:"ï·";}
    
    .custom-size-select-dropdown {display:none; position:absolute; left:-2px; top:34px; width:calc(100% + 4px); background-color:#ffffff; border:2px solid #111111; border-top:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; z-index:99; padding:0 10px 10px 10px;}
    
    
    .custom-size-select-dropdown .custom-size-select-dropdown-nav {padding-bottom:10px;}
    .custom-size-select-dropdown .custom-size-select-dropdown-nav a {text-decoration:none; text-transform:uppercase; display:inline-block; color:#131313; font-size:14px !important; line-height:16px !important; font-family:"proxima-nova", helvetica, arial; font-weight:400 !important; border:none; border-bottom:2px solid transparent !important; background-color:transparent; padding:0 !important; margin-right:22px;}
    .custom-size-select-dropdown .custom-size-select-dropdown-nav a {}
    .custom-size-select-dropdown .custom-size-select-dropdown-nav a.active, .custom-size-select-dropdown-nav a:hover {border-color:#131313 !important;}
    .custom-size-select-dropdown .custom-size-select-dropdown-nav a.active {font-weight:700 !important;}
    .custom-size-select-dropdown .scarcity-lowstock-messages {margin-top:10px;}
    
    .custom-size-select-dropdown .tab-pane {display:none; background-color:#F8F8F8 !important;}
    .custom-size-select-dropdown .tab-pane.active {display:block;}
    .custom-size-select-dropdown .tab-pane ul {padding:10px 0; margin:0;}
    .custom-size-select-dropdown .tab-pane ul:after {content:""; display:table; clear:both;}
    .custom-size-select-dropdown .tab-pane ul li {padding:5px 0; margin:0; display:block; float:left; width:12.8%; margin-right:4.64%;}
    .custom-size-select-dropdown .tab-pane ul li:nth-child(6n) {margin-right:0;}
    .custom-size-select-dropdown .tab-pane ul li:nth-child(6n+1) {clear:left;}
    .custom-size-select-dropdown .tab-pane ul li a {display:block !important; color:#131313 !important; font-size:16px !important; height:38px !important; line-height:38px !important; text-align:center; background-color:#ffffff; border:1px solid #f0f0f0 !important; border-radius:4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:0 !important; margin:0 !important; width:100% !important;}
    .custom-size-select-dropdown .tab-pane ul li[data-stock="out"] a {cursor:default !important; color:#131313 !important; border:none !important; background-color:transparent !important; opacity:0.3;}
    .custom-size-select-dropdown .tab-pane ul li a:hover, .custom-size-select-dropdown .tab-pane ul li a.active {border-color:#111 !important; background-color:#111 !important; color:#ffffff !important;}
    
    
    /***** Carousel *****/
    #carousel-wrap-container {position: absolute; left: 0; bottom: 0; width: 100%; z-index: 300; pointer-events: none;}
    #carousel-wrap {max-width:1150px; margin:0 auto;}
    #carousel {max-width:612px; position:relative; pointer-events:all; overflow:visible; padding:0 80px;}
    #carousel li {opacity:0.6; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
    #carousel li img {padding-right:20px;}
    #carousel li.flex-active-slide {opacity:1;}
    
    #carousel-wrap .flex-direction-nav {display:block; z-index:1000; width:100%;}
    #carousel-wrap .flex-direction-nav li {width:auto; height:auto; left:auto; top:auto; right:auto; bottom:auto; float:none; position:static;}
    #carousel-wrap .flex-direction-nav li a {display:block; border:none; padding:0; margin:0; width:19px; height:26px; position:absolute; top:26px; float:none; border-radius:0px;}
    #carousel-wrap .flex-direction-nav li a.flex-prev {background:transparent url("https://static.hypedc.com/skin/frontend/hypedc/default/images/icons/icon-home-carousel-left.png") no-repeat left top; background-size:19px auto; left:0;}
    #carousel-wrap .flex-direction-nav li a.flex-next {background:transparent url("https://static.hypedc.com/skin/frontend/hypedc/default/images/icons/icon-home-carousel-right.png") no-repeat left top; background-size:19px auto; right:0px;}
     
    .opt2-v2 #main-image .flex-direction-nav {display:none !important;}
    .opt2-v2 #main-image .flex-control-nav {display:none !important;}
    
    
    /***** Media Queries *****/
    @media screen and (max-width: 1200px){
        #carousel-wrap {max-width:950px;}
        #carousel {width:500px; padding:0 50px;}
        #carousel .slides {position:relative; z-index:100;}
    }
    
    @media screen and (max-width: 960px){
        .opt2-v2 .header-product h1 {font-size:48px;}
        #carousel-wrap {max-width:730px;}
        #carousel {width:400px; padding:0 35px;}
    }