.notify-me:not(.optButton) {
	display: none !important;	
}

.optSideBar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: black;
	max-width: 500px;
	color: white;
}

.optButton button.btn-notifyme {
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #EB5E0D;
}

.optButton button.btn-notifyme:hover {
	background-color: #EB5E0D;
}

.optButton p {
	margin: 0;
	font-size: 20px;
}

.optButton .optsmall {
	font-size: 10px;
	text-transform: initial;
	margin: 0;
}



.opt-close {
	text-align: right;
	padding: 10px;
	font-size: 40px;
	z-index: 9999999;
	display:block;
	position: absolute;
	right: 0;
	cursor: pointer;
}

.optSidebarContent {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.optTop {
	background: rgb(37, 37, 37);
	padding: 10px 40px;
	z-index: 999999;
	
}
.optTop .optContain34 {
	max-width: 300px;	
}

.optSideBar .optTop h1 {
	color: white;
	font-size: 26px;
	line-height: 26px;
}

.optSideBar .optTop .redsplit {
	background: red;
	height: 5px;
	width: 100%;
	max-width: 100px;
	margin: 10px 0;
}

.optBottom {
	width: 100%;
}

.optSwiperContainer {
	overflow: hidden;	
}

.optSwiperContainer h1 {
	font-size: 16px;
	color: white;
	padding-left: 40px;
	font-weight:800;
	text-transform: uppercase;
}

#optSwiper {
	width: 100%;	
	padding-left: 40px;
	padding-right: 40px;
	overflow: visible;
}

#optSwiper * {
	
	display: block;
	margin: 0;
	padding: 0;
}

#optSwiper ul.slides > li a {
	overflow: hidden;	
	text-overflow: ellipsis;
}

#optSwiper ul.slides > li {
	width: 143px;
	background: white;
	border-radius: 5px;
	margin-right: 10px;
	padding: 0 5px 20px 5px;
}

#optSwiper img {
	width: 100%;	
}

#optSwiper .optBold {
	font-size: 16px;
	font-weight: bold;
    text-overflow: ellipsis;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 20px;
    display: inline-block;
}

#optSwiper .optThin {
	font-size: 12px;
	text-transform: uppercase;
    text-overflow: ellipsis;
	min-width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: inline-block;
}

#optSwiper .optPrice {
	font-weight: bold;
}

#optSwiper .optPrice.optSpecial {
	color: red;
	display: inline-block;
	margin-right: 10px;
}

#optSwiper .oldPrice {
	font-size: 12px;
	display: inline-block;
	text-decoration: line-through;
}

#optSwiper .slides {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;	
}

#optSwiper .flex-direction-nav {
	width: -webkit-calc(100%);
	width: calc(100%);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 999999;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#optSwiper .flex-direction-nav li {
	width: auto;
	text-indent: 0;
	
}

#optSwiper .flex-direction-nav li a {
	background: transparent;
	border: none;
	width: auto;
	top: 0;
	text-indent: 0;
	position: relative;
}

#optSwiper .flex-direction-nav li a::after {
	top: 0;
    font-family: 'Glyphicons Halflings';
	width: 40px;
	height: 40px;
    font-size: 20px;
    line-height: 20px;
	text-indent: 0;
	color: white;
	position: absolute;
	z-index: 9999999;
}

#optSwiper .flex-direction-nav li a.flex-prev::after {
	left: 10px;	
    content: "\E079";

}

#optSwiper .flex-direction-nav li a.flex-next::after {
	right: -15px;	
    content: "\E080";

}


#optSwiper .flex-direction-nav li a span {
	display: none;
}

#optSwiper .flex-viewport {
	overflow: visible !important;	
}

.optRightBar, .optLeftBar {
	width: 30px;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	right: 0;
	top: 0;
	position: absolute;
	z-index: 99999;
}

.optLeftBar {
	right: initial;
	left: 0;
	background: black;
	width: 32px;
}



/* Loading Gif */
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 500px) {
	.optTop {
		padding: 10px 40px 10px 10px;
	}
}