<div class="optSideBar">
    <div class="opt-close">X</div>
    <div class="optSidebarContent">
        <div class="optTop">
            <h1>Looking for similar shoes in "placeholder"</h1>
            <div class="redsplit"></div>
            <p>Check out our staff recommendations:</p>
        </div>
        <div class="optBottom">
            <h1>"Number" Matches</h1>
            <div class="optSwiper">
                
            </div>
        </div>
    </div>
</div>