.cart-tools .opt72-group {
    display: block;
}

.opt72 .sizing-guide-container h4 {
    text-align: left;
}

body>.opt72-group {
    display: none;
    position: fixed;
    top: -300px;
    left: 0;
    width: 100%;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

body.opt72-active>.opt72-group {
    top: 0;
}

.opt72-group {
    background-color: #e6e7e6;
    position: relative;
}

.opt72-img-group {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    width: 35%;
}

.opt72-img-group img {
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.opt72-laptop {
    display: none;
}

.opt72-info {
    font-family: futura-pt, helvetica, arial;
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding: 5px 10px 0 0;
    height: 100%;
}

.opt72-heading {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #111111;
}

.opt72-sub-heading {
    font-size: 14px;
    font-weight: 700;
}

.opt72-text {
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 0px 0;
}

.opt72-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 38px;
    font-weight: 700;
    width: 35%;
    font-family: futura-pt, helvetica, arial;
    color: #111111;
}

.opt72-price sup {
    font-size: 20px;
    vertical-align: middle;
    top: -11px;
}

.opt72-add-to-cart {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    text-align: right;
}

.opt72-add-to-cart button {
    color: #fff;
    font-family: futura-pt, helvetica, arial;
    font-weight: 700;
    text-transform: uppercase;
    background: #F70006;
    -webkit-box-shadow: 0 4px #ab0001;
    box-shadow: 0 4px #ab0001;
    border-radius: 4px;
    color: #fff;
    border: 0;
    position: relative;
    width: 70%;
    height: 30px;
    margin: 0 auto;
}

.opt72-add-to-cart button:hover {
    background-color: #F70006;
    -webkit-box-shadow: 0 6px #ab0001;
    box-shadow: 0 6px #ab0001;
    top: -2px;
}


.opt72-toggle {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 700;
    background: none;
    border: none;
    display: none;
}

@media (max-width: 1200px) {
    .opt72-desktop {
        display: none;
    }

    .opt72-laptop {
        display: block;
    }
    .opt72-img-group img.opt72-laptop {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .opt72-img-group {
        width: 30%;
    }

    .opt72-info {
        width: 65%;
        padding: 25px 5px 0 0;
    }

    .opt72-heading {
        font-size: 16px;
        position: relative;
        left: -13px;
    }

    .opt72-sub-heading {
        font-size: 12px;
        position: relative;
        left: -7px;
    }

    .opt72-text {
        font-size: 12px;
    }

    .opt72-text span:nth-of-type(1) {
        left: -2px;
    }

    .opt72-text span:nth-of-type(2) {
        left: 0px;
    }

    .opt72-text span:nth-of-type(3) {
        left: 5px;
    }

    .opt72-price {
        font-size: 24px;
        position: relative;
        left: 7px;
    }

    .opt72-price sup {
        font-size: 14px;
        top: -5px;
    }

    .opt72-add-to-cart {
        vertical-align: middle;
        top: -2px;
        position: relative;
    }

    .opt72-add-to-cart button {
        width: 80%;
        font-size: 12px;
        height: 23px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .opt72-img-group {
        width: 35%;
    }

    .opt72-info {
        padding: 4px 5px 0 0;
    }

    .opt72-text span {
        position: relative;
        display: block
    }

    .opt72-heading {
        left: -15px;
    }

    .opt72-sub-heading {
        left: -9px;
        font-size: 11px;
    }

    .opt72-text span:nth-of-type(1) {
        left: -4px;
    }

    .opt72-text span:nth-of-type(2) {
        left: -2px;
    }

    .opt72-text span:nth-of-type(3) {
        left: 3px;
    }

    .opt72-text span {
        display: inline;
        position: static;
    }

    .opt72-price {
        left: 5px;
    }

    .opt72-add-to-cart {
        width: 60%;
    }
}

@media (max-width: 767px) {

    .cart-tools .opt72-group {
        display: none;
    }

    body>.opt72-group {
        display: block;
    }

    .opt72-toggle {
        display: block;
    }

    .opt72-img-group {
        width: 34%;
    }

    .opt72-img-group {
        width: auto;
    }

    .opt72-info {
        padding: 5px 0 0 0;
        width: 63%;
    }

    .opt72-heading {
        font-size: 16px;
        position: relative;
        left: -13px;
    }

    .opt72-sub-heading {
        font-size: 12px;
        position: relative;
        left: -7px;
    }

    .opt72-text {
        font-size: 13px;
        padding-bottom: 3px;
        padding-top: 2px;
    }

    .opt72-text span {
        position: relative;
        display: block
    }

    .opt72-text span:nth-of-type(1) {
        left: -2px;
    }

    .opt72-text span:nth-of-type(2) {
        left: 0px;
    }

    .opt72-text span:nth-of-type(3) {
        left: 5px;
    }

    .opt72-price {
        font-size: 28px;
        position: relative;
        left: 7px;
    }

    .opt72-price sup {
        font-size: 16px;
        top: -6px;
    }

    .opt72-add-to-cart {
        vertical-align: middle;
        top: -2px;
        position: relative;
    }

    .opt72-add-to-cart button {
        width: 85%;
        font-size: 12px;
        height: 26px;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .opt72-info {
        width: 72%;
        padding: 10px 0 0 0;
    }

    .opt72-text span {
        display: inline-block;
    }

    .opt72-add-to-cart {}

    .opt72-add-to-cart button {
        width: 100%;
    }
}