.opt71-large .opt72-image-group {
    width: 2%;
}

.opt71-small .opt72-image-group {
    width: 5%;
    margin: 0 0 0 20px;
}

.opt72-desktop {
    display: block;
}

.opt72-mobile {
    display: none;
}

.opt72-container {
    height: 210px;
    overflow: hidden;
}

.opt72-group {
    background-color: #e6e7e6;
    position: relative;
}

.opt72-group.opt72-desktop {
  	background-image: url('//cdn.optimizely.com/img/6092490016/a5fbbbc63bfb457b9aeaa183f041bff0.jpg');
    /* background-image: url('//cdn.optimizely.com/img/6092490016/edcceb21a0f243e581ecc637d5ecc8d9.jpg'); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    width: 100%;
    height: 11vw;
    padding: 20px 0 0 0;
}

.opt72-group.opt72-desktop .container {
    position: relative;
    width: auto;
}

.opt72-group-cell {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

.opt72-stayhype-group {
    width: 38%;
    text-align: left;
    padding: 0 0 0 10%;
}

.opt72-image-group {
    width: 60px;
    margin: 0 0 0 10px;
    padding: 0 0 0 0;
}

.opt72-image-group img {
  	max-width: 100%;
    max-height: 140px;
}

.opt72-info-group {
    width: 520px;
    padding-left: 80px;
    position: relative;
}

.opt72-stayhype {
    font-size: 84px;
    color: #ffffff;
    font-weight: 700;
    line-height: 74px;
    font-family:  futura-pt, helvetica, arial;
}

.opt72-img-group {
    display: inline-block;
    vertical-align: top;
    width: 35%;
}

.opt72-img-group img {
    width: 100%;
}

.opt72-laptop {
    display: none;
}

.opt72-info {
    font-family: futura-pt, helvetica, arial;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding: 5px 10px 0 5px;
    height: 100%;
    z-index: 2;
}

.opt72-desktop .opt72-info {
    vertical-align: middle;
    width: 100%;
    position: relative;
    left: 0;
}

.opt72-heading {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
  	color: #111111;
}

.opt72-sub-heading {
    font-size: 14px;
    font-weight: 700;
}

.opt72-text {
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 0px 0;
}

.opt72-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 38px;
    font-weight: 700;
    width: 35%;
    font-family: futura-pt, helvetica, arial;
  	color: #111111;
}

.opt72-desktop .opt72-text {
    padding: 0 0 0px 0;
    font-size: 18px;
}

.opt72-desktop .opt72-heading {
    font-size: 30px;
    font-weight: 700;
}

.opt72-desktop .opt72-price {
    width: 42%;
    position: relative;
    left: 0;
    top: 5px;
    font-size: 44px;
}

.opt72-desktop .opt72-price sup {
    
}

.opt72-desktop .opt72-add-to-cart {
    width: 56%;
    position: relative;
    left: 0px;
    top: 5px;
}

.opt72-desktop .opt72-add-to-cart button {
    width: 90%;
}

.opt72-price sup {
    font-size: 20px;
    vertical-align: middle;
    top: -11px;
}

.opt72-add-to-cart {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    text-align: right;
}

.opt72-add-to-cart button {
    color: #fff;
    font-family: futura-pt, helvetica, arial;
    font-weight: 700;
    text-transform: uppercase;
    background: #F70006;
    -webkit-box-shadow: 0 4px #ab0001;
            box-shadow: 0 4px #ab0001;
    border-radius: 4px;
    color: #fff;
    border: 0;
    position: relative;
    width: 70%;
    height: 30px;
    margin: 0 auto;
}

.opt72-add-to-cart button:hover {
    background-color: #F70006;
    -webkit-box-shadow: 0 6px #ab0001;
            box-shadow: 0 6px #ab0001;
    top: -2px;
}


.opt72-toggle {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 700;
    background: none;
    border: none;
}

.opt72-desktop .opt72-toggle {
    top: 15px;
    right: -20px;
    font-size: 15px;
    font-family: futura-pt, helvetica, arial;
}

@media (max-width: 2000px) {
    .opt72-container {
        height: auto;
        overflow: visible;
    }

    .opt72-stayhype-group {
        width: 38%;
        padding: 0 0 0 5%;
    }
    
    .opt72-stayhype {
        font-size: 60px;
        line-height: 54px;
    }
    
    .opt72-image-group {
        width: 3%;
        margin: 0 0 0 40px;
        padding: 0 0 0 0;
    }
    
    .opt72-info-group {
        width: 350px;
        padding-left: 30px; 
    }

    .opt72-desktop .opt72-info {
        width: 100%;
    }

    .opt72-desktop .opt72-heading {
        font-size: 20px;
    }
    
    .opt72-desktop .opt72-text {
        font-size: 14px;
    }
    
    .opt72-desktop .opt72-price {
    width: 40%;
    top: 5px;
    }
    
    .opt72-desktop .opt72-toggle {
        top: 7px;
        right: -5px;
    }
}

@media (max-width: 1500px) {
    .opt72-container {
        height: auto;
        overflow: visible;
    }

    .opt72-stayhype-group {
        width: 38%;
        padding: 0 0 0 10%;
    }
    
    .opt72-stayhype {
        font-size: 44px;
        line-height: 40px;
    }
    
    .opt72-image-group {
        width: 3%;
        margin: 0 0 0 40px;
        padding: 0 0 0 0;
    }
    
    .opt72-info-group {
        width: 350px;
        padding-left: 30px; 
    }

    .opt72-desktop .opt72-info {
        width: 100%;
    }

    .opt72-desktop .opt72-heading {
        font-size: 20px;
    }
    
    .opt72-desktop .opt72-text {
        font-size: 14px;
    }
    
    .opt72-desktop .opt72-price {
        width: 40%;
        top: 0;
        font-size: 30px;
    }
    
    .opt72-desktop .opt72-price sup {
        font-size: 16px;
        top: -6px;
    }
    
    .opt72-desktop .opt72-add-to-cart {
        top: 0;
    }
  
  .opt72-desktop .opt72-toggle {
    top: 9px;
    right: 23px;
	}
}

@media (max-width: 1405px) {

    .opt72-group.opt72-desktop {
        background-image: url('//cdn.optimizely.com/img/6092490016/de6084c06c024396986bbc64ecdb7a13.jpg');
    }
    
    .opt72-group.opt72-desktop .container {
        position: relative;
        width: 1150px;
    }
    
    .opt72-stayhype-group {
        width: 38%;
        padding: 0 0 0 0;
    }
    
    .opt72-image-group {
        width: 3%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    
    .opt72-info-group {
        width: 290px;
    }

    .opt72-desktop .opt72-info {
        padding: 0;
    }
    
    .opt72-desktop .opt72-heading {
        font-size: 16px;
    }
    
    .opt72-desktop .opt72-text {
        font-size: 12px;
    }
    
    .opt72-stayhype {
        font-size: 40px;
        line-height: 34px;
    }
    
    .opt72-desktop .opt72-toggle {
        top: 0px;
        right: -5px;
    }
}

@media (max-width: 1200px) {
    .opt72-group.opt72-desktop {
        padding: 10px 0 0 0;
    }
    
    .opt72-stayhype {
        font-size: 30px;
        line-height: 26px;
    }
    
    .opt72-image-group {
    margin: 0 0 0 50px;
    }
    
    .opt72-desktop .opt72-heading {
        font-size: 16px;
        left: 0;
    }
    
    .opt72-desktop .opt72-text {
        display: none;
    }
}

@media (max-width: 1530px) {
 	.opt72-image-group img {
   	max-height: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
.opt72-group.opt72-desktop .container {
    width: 730px;
}
}

@media (min-width: 992px) and (max-width: 1200px) {
.opt72-group.opt72-desktop .container {
    width: 950px;
}
}

@media (min-width: 768px) and (max-width: 1200px) {

    .opt72-img-group {
        width: 30%;
    }
    
    .opt72-info {
        width: 65%;
        padding: 25px 5px 0 0;
    }
    
    .opt72-heading {
        font-size: 16px;
        position: relative;
        left: -13px;
    }
    
    .opt72-sub-heading {
        font-size: 12px;
        position: relative;
        left: -7px;
    }
    
    .opt72-text {
        font-size: 12px;
    }

    .opt72-text span:nth-of-type(1) {
        left: -2px;
    }
    
    .opt72-text span:nth-of-type(2) {
        left: 0px;
    }

    .opt72-text span:nth-of-type(3) {
        left: 5px;
    }
    
    .opt72-price {
        font-size: 24px;
        position: relative;
        left: 7px;
    }
    
    .opt72-price sup {
        font-size: 14px;
        top: -5px;
    }
    
    .opt72-add-to-cart {
        vertical-align: middle;
        top: -2px;
        position: relative;
    }
    
    .opt72-add-to-cart button {
        width: 80%;
        font-size: 12px;
        height: 23px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .opt72-img-group {
        width: 35%;
    }
    
    .opt72-info {
        padding: 10px 5px 0 0;
    }
    
    .opt72-text span {
        position: relative;
        display: block
    }
    
    .opt72-heading {
        left: -15px;
    }
    
    .opt72-sub-heading {
        left: -9px;
    }

    .opt72-text span:nth-of-type(1) {
        left: -4px;
    }
    
    .opt72-text span:nth-of-type(2) {
        left: -2px;
    }

    .opt72-text span:nth-of-type(3) {
        left: 3px;
    }
    
    .opt72-price {
        left: 5px;
    }
    
    .opt72-add-to-cart {
        width: 60%;
    }
}

@media (max-width: 767px) {

    .opt72-desktop {
        display: none;
    }

    .opt72-mobile {
        display: block;
    }
    
    .opt72-toggle {
        display: block;
    }

    .opt72-img-group {
        width: 34%;
    }
    
    .opt72-img-group {
        width: auto;
    }

    .opt72-info {
        padding: 5px 0 0 0;
        width: 64%;
    }
    
    .opt72-heading {
        font-size: 16px;
        position: relative;
        left: -13px;
    }
    
    .opt72-sub-heading {
        font-size: 12px;
        position: relative;
        left: -7px;
    }
    
    .opt72-text {
        font-size: 13px;
        padding-bottom: 3px;
        padding-top: 2px;
    }

    .opt72-text span {
        position: relative;
        display: block
    }
    
    .opt72-text span:nth-of-type(1) {
        left: -2px;
    }
    
    .opt72-text span:nth-of-type(2) {
        left: 0px;
    }

    .opt72-text span:nth-of-type(3) {
        left: 5px;
    }
    
    .opt72-price {
        font-size: 28px;
        position: relative;
        left: 7px;
    }
    
    .opt72-price sup {
        font-size: 16px;
        top: -6px;
    }
    
    .opt72-add-to-cart {
        vertical-align: middle;
        top: -2px;
        position: relative;
    }
    
    .opt72-add-to-cart button {
        width: 85%;
        font-size: 12px;
        height: 26px;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .opt72-info {
        width: 72%;
        padding: 20px 0 0 0;
    }
    
    .opt72-text span {
        display: inline-block;
    }

    .opt72-add-to-cart {

    }
    
    .opt72-add-to-cart button {
        width: 100%;
    }
}